mat-card-content {
  max-height: 400px;
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
  input {
    width: 100%;
  }
}

mat-toolbar.mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}
