img.mat-list-icon {
  height: 48px !important;
  width: 48px !important;
  border-radius: 0% !important;
}

mat-card-content.mat-card-content.full-width {
  margin: 0px -24px !important;
  &.bottom-too {
    margin-bottom: -24px !important;
  }
  @media (max-width: 600px) and (orientation: portrait) {
    margin: 0px -16px !important;
  }
}

div#map-tab {
  height: 100%;
  agm-map {
    height: 100%;
  }
}
