<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="1/3" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Explore</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/connecticut-nature.jpg" height="261">      
      <mat-card-content>
        <p>Connecticut holds a little something for everyone, especially you. That could be a hike at the beautiful Southern
          Falls of Oxford. For others, it could be visiting the legendary Louis' Lunch of New Haven, where they invention
          of the hamburger. No matter where you go, you will always find something new around every corner.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="1/3" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Engage</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/main-walkers.jpg">
      <mat-card-content>
        <p>Imagine waking up to the crisp fall weather with the sound of nature surrounding you. It's no wonder why many choose
          to live in New England. Stay in that positive state of mind by finding nearby Silver Sneaker locations, and find new friends while
          staying active and healthy.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="1/3" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Embrace</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/silas-robbins.jpg" height="261">
      <mat-card-content>
        <p>The rolling landscape that awaits you is only the beginning. Discover new friends and a vibrant community just a
          short distance from wherever you decide to live. The smile from visiting friends and family will only cement the idea that
          Connecticut is the place for you.</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>