<h1 class="text-center">Why Connecticut?</h1>
<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap class="slowfade">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Engage</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Connecticut holds a little something for everyone, especially you. That could be a hike at the beautiful Southern Falls
          of Oxford. For others, it could be visiting the legendary Louis' Lunch of New Haven, where they invention of the hamburger.
          No matter where you go, you will always find something new around every corner.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Embrace</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Imagine waking up to the crisp fall weather with the sound of nature surrounding you.
           It's no wonder why many choose to retire in New England. Our positive community grows
           every day, and will inspire you to enjoy everything Connecticut has to it's fullest extent.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Explore</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>The rolling landscape that awaits you is only the beginning.
          Discover new friends and a vibrant community just a short
          distance from wherever you decide to live. The smile from visiting friends 
          and family will only cement that Connecticut is the place for you.</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>