<!-- <section fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1/3">
      <img class="full-size" src="./assets/home/pic1.jpg" alt="A couple running on the beach">
    </div>
    <div fxFlex="1/3">
      <img class="full-size" src="./assets/home/pic2.jpg" alt="A couple ">
    </div>
    <div fxFlex="1/3">
      <img class="full-size" src="./assets/home/pic3.jpg" alt="A couple ">
    </div>
  </section> -->

<section>
    <mat-card>
        <mat-card-header>
            Senior Search CT
        </mat-card-header>
    </mat-card>
</section>