<section fxLayout="row" fxLayoutAlign="center">
  <div fxFlex.xs="100" fxFlex.sm="80" fxFlex.lg="60" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Senior Search CT
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter a town or senior center" (keyup)="search($event.target.value)" #searchBar>
        </mat-form-field>
        <mat-list *ngIf="display">
          <h3 mat-subheader>Potential Centers</h3>
          <ng-template ngFor let-center [ngForOf]="centers" let-last="last">
            <mat-list-item [routerLink]="['/', encodeURI(center.agency)]" class="fastfade">
              <h4 mat-line>{{center.agency}}</h4>
              <p mat-line>{{center.address.city}}, {{center.address.state}}</p>
            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>
          <mat-list-item *ngIf="centers.length === 0">
            <h4 mat-line>No Facility Found</h4>
            <p mat-line>Try Another Query</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section *ngIf="(facility | async); else aboutSection" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap class="slowfade">
  <!-- Map -->
  <div fxFlex.xs="100" fxFlex.gt-xs="40" fxFlex.gt-md="30" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{(facility | async)?.agency}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="full-width-map">
        <agm-map [latitude]="(facility | async)?.coordinates.lat" [longitude]="(facility | async)?.coordinates.lng" [zoom]="13" [scrollwheel]="false"
          [draggable]="false" [scrollwheel]="false" [gestureHandling]="'none'" [zoomControl]="false" [disableDoubleClickZoom]="true"
          [streetViewControl]="false" [usePanning]="true" [fullscreenControl]="false">
          <agm-marker [latitude]="(facility | async)?.coordinates.lat" [longitude]="(facility | async)?.coordinates.lng"></agm-marker>
        </agm-map>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="(about | async)?.website" [href]="(about | async)?.website" target="_blank" mat-button>WEBSITE</a>
        <a *ngIf="(facility | async)?.phone" [href]="'tel:'+(facility | async)?.phone" mat-button>CALL</a>
        <a *ngIf="(facility | async)?.email" [href]="'mailto:'+(facility | async)?.email" mat-button>EMAIL</a>
        <a [href]="'https://www.google.com/maps/dir/'+(coordsUser | async)?.lat+','+(coordsUser | async)?.lng+'/'+(facility | async)?.coordinates.lat+','+(facility | async)?.coordinates.lng"
          target="_blank" mat-button>DIRECTIONS</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Information -->
  <div fxFlex.xs="100" fxFlex.gt-xs="60" fxFlex.gt-md="70" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Information</mat-card-title>
      </mat-card-header>
      <mat-card-content class="full-width">
        <mat-tab-group class="demo-tab-group">
          <mat-tab label="Silver Sneakers">
            <mat-list>
              <ng-template ngFor let-sneaker [ngForOf]="sneakers | async" let-last="last">
                <mat-list-item (click)="goTo(sneaker.webSiteAddress)">
                  <h4 mat-line>{{sneaker.name}}</h4>
                  <p mat-line>{{sneaker.mileDistance | fixed}} miles away in {{sneaker.city}}</p>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-template>
              <mat-list-item *ngIf="!(sneakers | async)">
                <h4 mat-line>No Silver Sneakers Found</h4>
                <p mat-line>Try Another Place</p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Events">
            <mat-list>
              <ng-template ngFor let-event [ngForOf]="events | async" let-last="last">
                <mat-list-item (click)="goTo(event.event_url)">
                  <h4 mat-line>{{event.name}}</h4>
                  <p mat-line>{{event.group.name}} | {{event.time | date}}</p>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-template>
              <mat-list-item *ngIf="(events | async)?.length === 0">
                <h4 mat-line>No Upcoming Events Found</h4>
                <p mat-line>Try Another Place</p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Reviews">
            <mat-list>
              <ng-template ngFor let-review [ngForOf]="(about | async)?.reviews" let-last="last">
                <mat-list-item (click)="goTo(review.author_url)">
                  <img mat-list-icon [src]="review.profile_photo_url || './assets/profile.jpg'" [alt]="review.author_name">
                  <h4 mat-line>{{review.author_name}}</h4>
                  <p mat-line>{{review.rating}} stars
                    <span *ngIf="review.text">|</span> {{review.text}}</p>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-template>
              <mat-list-item *ngIf="!(about | async)?.reviews">
                <h4 mat-line>No Reviews Found</h4>
                <p mat-line>Try Another Place</p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<ng-template #aboutSection>
  <app-about></app-about>
</ng-template>
